#expand {
    width: 65%;
    margin-left: 17%;
    background-color: #0F83C8;
}

#expandTitle {
    color: white;
    padding-left: 30px;
    font-size: 1.1em;
}

#button{
    background-color: rgb(34, 182, 137);
    border-color: rgb(34, 182, 137);
}

#icon{
    color: white;
}

#tableHeader{
    background-color: white;
}

#editIcon{
    background-color: #472F76;
    color: white;
    size: 10px;
    width: 3em;
    height: 3em;
    
}

.delete{
    background-color: rgb(233, 20, 20);
    margin-right: -20px;
    margin-left: 13px;
}

#tableTitle{
    text-align: center;
    margin-top: 3%;
}